# Rust
/target

# macOS
.DS_Store

# IDE
/.idea/
/.vscode/
/ .zed/

# Project data
/fit_output/
/fit_source/
Report.html

# Agent
.claude/*
!.claude/skills/
!.claude/CLAUDE.md
!.claude/settings.json
.codex
.gemini


# Added by cargo
#
# already existing elements were commented out

#/target
