# Rust
/target

# macOS
.DS_Store

# IDE
/.idea/
/.vscode/
/ .zed/

# Project data
/fit_output/
/fit_source/

# Agent
.claude/*
!.claude/skills/
.codex
.gemini


# Added by cargo
#
# already existing elements were commented out

#/target
